CONFIG_FREERTOS_HZ=1000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BUTTON_POLL_TIMEOUT=50
CONFIG_BUTTON_LONG_PRESS_TIMEOUT=1500
CONFIG_BUTTON_AUTOREPEAT_TIMEOUT=500
CONFIG_BUTTON_AUTOREPEAT_INTERVAL=250
CONFIG_ESP_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_RMT_SUPPRESS_DEPRECATE_WARN=y
