CONFIG_FREERTOS_HZ=1000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BUTTON_POLL_TIMEOUT=50
CONFIG_BUTTON_LONG_PRESS_TIMEOUT=1500
CONFIG_BUTTON_AUTOREPEAT_TIMEOUT=500
CONFIG_BUTTON_AUTOREPEAT_INTERVAL=250

CONFIG_EL_EFFECT_DEFAULT=1
CONFIG_EL_FPS_DEFAULT=60
CONFIG_EL_BRIGHTNESS_DEFAULT=255

CONFIG_EL_WIFI_MODE_AP=y
# CONFIG_EL_WIFI_MODE_STA is not set

CONFIG_EL_WIFI_AP_SSID="EvLamp"
CONFIG_EL_WIFI_AP_PASSWD=""
CONFIG_EL_WIFI_AP_CHANNEL=6
CONFIG_EL_WIFI_STA_SSID="MyHomeWIFI"
CONFIG_EL_WIFI_STA_PASSWD="MyPassword"
CONFIG_EL_WIFI_DHCP=y
CONFIG_EL_WIFI_IP="192.168.1.1"
CONFIG_EL_WIFI_NETMASK="255.255.255.0"
CONFIG_EL_WIFI_GATEWAY="192.168.1.1"
CONFIG_EL_WIFI_DNS="192.168.1.1"

CONFIG_EL_MATRIX_GPIO=5
CONFIG_EL_MATRIX_WIDTH=16
CONFIG_EL_MATRIX_HEIGHT=16
CONFIG_EL_LED_TYPE_WS2812=y
CONFIG_EL_MATRIX_MAX_CURRENT=4000

CONFIG_EL_BUTTON_LEVEL=1
CONFIG_EL_BUTTON_PULLUPDOWN=y
CONFIG_EL_BUTTON_MAIN_GPIO=25
CONFIG_EL_BUTTON_UP_GPIO=26
CONFIG_EL_BUTTON_DOWN_GPIO=27
CONFIG_EL_BUTTON_RESET_GPIO=14
