body {
	font-family: sans-serif;
	font-size: 16px;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu li a {
    display:block;
    padding: 8px 16px;
	background-color: #008CBA;
	color: white;
    border-top: 1px solid #999;
    text-decoration: none;
}

#menu li:first-child {
    border: none;
}

#menu li a:hover {
    background-color: #f2f2f2;
    color: black;
}

#menu li a.selected {
    background-color: #a0a0a0;
    color: black;
}

.black {
	background-color: black;
	color: white;
}

.gray {
	background-color: #a0a0a0;
	color: black;
}

.blue {
	background-color: #008CBA;
	color: white;
}

.red {
	background-color: #f44336;
	color: white;
}

.small {
	font-size: 12px;
}

#header {
	padding: 16px;
}

#app_name {
	font-size: 30px;
	font-weight: bold;
}

#outline {
	display: flex;
	justify-content: flex-start;
}

#left {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	flex: 200px;
}

#content {
	flex: 100%;
	padding: 16px;
}

.form {
	width: 600px;
}

fieldset {
	margin-bottom: 16px;
}

.ui-widget {
	margin-top: 8px;
	margin-bottom: 8px;
}

label {
	display: inline-block;
	width: 200px;
	min-width: 200px;
}

.buttons {
	padding: 0;
	text-align: right;
}

.msg_err {
	background-color: #f44336;
	color: white;
	padding: 16px;
	margin-bottom: 16px;
}

.msg_ok {
	background-color: #00b000;
	color: white;
	padding: 16px;
	margin-bottom: 16px;
}
