body {
	font-family: sans-serif;
	font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li a {
    display:block;
    padding: 8px 16px;
    color: #999;
    background-color: #e5e5e5;
    border-top: 1px solid #999;
    text-decoration: none;
    
}

ul li:first-child {
    border: none;
}

ul li a:hover {
    background-color: #f2f2f2;
    color: black;
}

.button {
	border-radius: 8px;
	padding: 8px;
	min-width: 100px;
}

.black {
	background-color: black;
	color: white;
}

.gray {
	background-color: #a0a0a0;
	color: black;
}

.blue {
	background-color: #008CBA;
	color: white;
}

.red {
	background-color: #f44336;
	color: white;
}

.small {
	font-size: 12px;
}

#header {
	padding-left: 16px;
	padding-bottom: 16px;
}

#header > h1 {
	padding-top: 16px;
	margin-bottom: 16px;
}

#outline {
	display: flex;
	justify-content: flex-start;
}

#left {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	flex: 200px;
}

#content {
	flex: 100%;
	padding: 16px;
}

.form {
	width: 600px;
}

form th {
	text-align: left;
	width: 200px;
}

.buttons {
	margin-top: 20px;
	padding-left: 200px;
}
